a{
	text-decoration: none;
	font-size: large;
	font-family:sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	color:white; 
	background-color: rgba(210, 210, 210, 0.83);
	width: 200px;
	height: 40px;
}

.hvr-underline-reveal{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-underline-reveal:before{
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
    bottom: 0;
	background:#2098d1;
	height: 6px;
	transform: translateY(6px);
	-webkit-transform: translateY(10px);
	transition-property: transform;
	-webkit-transition: transform;
	transition-duration:0.3s;
	-webkit-transition-duration: 0.3s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before{
	-webkit-transform: translateY(0);
    transform: translateY(0);
}

.hvr-bounce-to-right{
    display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-property: color;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before{
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background:#2098d1;
	transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;
	transition-property: transform;
	-webkit-transition-property: transform;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition-duration:0.5s;
	-webkit-transition-duration: 0.5s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;    
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active{
	color:white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before{
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
